body {
    background-image: url(../img/1.png);
    position: relative!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    height: 100%!important;
    width: 100%!important;
    z-index: -10
}

select{
color: #fff!important;
}

#lblUsername{
    color: #fff!important;
}

#logo {
    width: 150px;
    content: url(../img/parkner-white-logo.png);
    margin-top: 0%;
}

#centrar {
    z-index: 9!important;
}

#busca {
    max-width: 70%;
    margin-top: 20%;
}

#hamburgerMenu {
    content: url('../img/menu-icon.png');
    max-width: 20px;
    max-height: 20px;
}

p {
    color: #1340a6;
}

#centrar {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hamburgerMenu:hover {
    background-color: none!important;
}

.btnHeader {
    border-width: 1!important;
    border-color: #fff!important;
    color: #fff!important;
    color: red;
}



#filtrar {
    width: 100%;
    border-color: #1340a6;
    border-radius: 7px;
    background-color: #fff!important;
    border-width: 2px;
    border-style: solid;
    text-decoration: #1340a6;
}

.btn-filtrar {
    width: 100%!important;
    background-color: #fff;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

.btn-filtrar:not(.nohover):hover {
    background-color: yellow;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

.filtrar-content {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 29%!important;
    height: 33%;
    max-width: 300%!important;
    background-color: #FFF;
    opacity: {
        {
            vm.visibilidad
        }
    }
}


}
#precio {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 14%!important;
    height: 5%;
    background-color: #FFF;
    max-width: 300%!important;
}
#column-range {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 60%!important;
    height: 5%;
    background-color: #FFF;
    max-width: 500%!important;
}
.selected {
    background-color: #1340a6!important;
    color: #fff;
}
.not-selected {
    width: 100%!important;
    background-color: #fff!important;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

/*select range*/
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #1340a6;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1340a6;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #1340a6;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #1340a6;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #1340a6;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1340a6;
}
@media all and (max-width: 1040px) {
    .filtrar-content {
        width: 200%!important;
        height: 60%!important;
    }
    
    .clm {
        margin-top: -10%;
    }
    
    .btn-filtrar {
        width: 100%!important;
        background-color: #fff;
        color: #1340a6;
        border-radius: 7px;
        border-width: 1px;
        border-style: solid;
        margin-left: -1%;
    }
    
    .space {
        margin-top: -15%;
    }
}
@media all and (max-width: 420px) {
    #menu-logo {
        width: 100%;
    }
    
    #btn-inicio {
        width: 100%;
        position: absolute;
        top: 0;
    }
    
    #registrar {
        width: 75px;
        font-size: .5em;
        position: absolute;
        top: 0;
        right: 4%;
    }
    
    #login {
        width: 75px;
        font-size: .5em;
        position: absolute;
        top: 15px;
        right: 4%;
        margin-right: 0px;
    }
    
    #busca {
        max-width: 90%!important;
        width: 90%!important;
        margin-left: 0%!important;
        margin-top: 50%;
    }
}
