.centrar{
    text-align: center;
    margin: auto;
}

.modal{
    background-color: #fff;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
}

.primary-button{
    height:65px;
    width: 80px;
}

#get-map{
    text-align: center;
}
#map{
    width: 100%!important;
}

#busca {
    margin: 4%;
}

#txt-distance {
    margin-top: -20px;
}

.column {
    margin: 25px 25px 30px 30px;
    width: 45%;
    border-radius: 7px;
}

#l-column {
    width: 46%;
    height: 77%;
    float: left;
    margin: 1%;
    position: 0px auto;
    margin-left: 45px;
}

#r-column {
    width: 46%;
    height: 71%;
    float: left;
    margin: 1%;
}

table {
    background: #f0f0f0;
    border-radius: 7px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

#table-card {
    width: 94%!important;
    background-color: #fff;
}

#contenedor {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 7px;
}

#contenedor-derecha {
    height: 113%;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.container {
    border-radius: 7px;
    height: 100%;
}

.card {
    display: inline-block;
    width: 100%!important;
    border-radius: 7px;
}

td {
    text-decoration: #000000;
    border-right-style: hidden;
    border: none!important;
    border-bottom: dashed;
    border-color: #ffffff;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255)!important;
}

#clm1 {
    width: 31%;
}

#clm2 {
    width: 20%;
}

#clm3 {
    width: 10%;
}

#clm4 {
    width: 31%;
}

#clm5 {
    width: 100%;
}

.leaflet {
    height: 106%;
    width:100%;
}

p {
    color: #1340a6;
    text-align: center;
}

.img-custom {
    height: 80px;
    width: 100px;
}

#txt-description {
    text-align: left;
    height: 70px;
}

canvas {
    padding-left: 30%;
    max-width: 60px;
    max-height: 90px;
    margin-top: -30%;
}

td {
    height: 30%!important;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 25px;
}

.icon-width {
    width: 45px;
    height: 30px;
    margin-left: 5px;
}


#iconos {
    height: 30px;
    width: 200%;
    float: left;
    margin-top: 1px;
}

table td {
    background-color: #fff;
}

.card {
    background: #fff;
}


/*Animacion de entrada*/

#container {
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    /*  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    */ animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


/* Standard syntax */

@keyframes example {
    0% {
        left: 0px;
        top: 1000px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

/*Galaxy s5*/
@media all and (max-width: 950px) {
    #txt-distance {
        margin-top: -10px;
    }
    #l-column {
        height: 100%!important;
    }
    #contenedor-derecha {
        visibility: hidden;
    }
    #description {
        max-height: 120px;
        overflow: hidden;
    }
    .container {
        height: 100%;
    }
    .img-custom {
        height: 80px;
        width: 80px;
        margin-top: 25%;
    }
    #l-column {
        width: 98%!important;
        margin-left: 0%!important;
    }
    #clm3 {
        width: 15%!important;
        float: left;
        padding: 0px;
        height: 50%!important;
    }
    #clm2 {
        width: 25%!important;
        float: left;
        height: 50%!important;
    }
    .icon {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
    p {
        font-size: .7em;
    }
    #iconos {
        float: left;
        margin-top: 5px!important;
        height: 15px;
        width: 200%;
        float: left;
        margin-top: 1px;
    }
    #txt-description {
        height: 67px;
    }
    tr {
        padding: 0px 0px 0px 0px;
    }
    #table-card {
        padding: 4px!important;
        height: 120px;
    }
}

@media screen and (max-width: 500px) {
    #r-column {
        height: 2%!important;
    }
    #contenedor {
        height: 100%;
    }
    #r-column {
        visibility: hidden;
    }

     #clm2 {
        width: 20%!important;
        float: left;
        height: 50%!important;
    }
}

@media all and (min-width: 950px) {
    #contenedor-derecha {
        height: 108%;
        visibility: visible!important;
    }
    #iconos {
        width: 300%!important;
        margin-left: 2px;
    }
    #iconos {
        width: 400%!important;
        margin-left: 2px;
    }
    .icon {
        margin-left: 10px;
    }
    #txt-description {
        max-height: 150px;
    }
    #description {
        max-height: 120px;
        overflow: hidden;
    }
}

@media all and (max-width: 950px) {
    canvas {
        margin-top: 40%;
        margin-left: -40%;
    }
    .img-custom {
        margin-top: 5%;
    }
    #clm1 {
        width: 100%;
    }
    #clm2 {
        width: 50%;
    }
    #clm3 {
        width: 50%;
    }
    #clm4 {
        width: 100%;
    }
    #clm5 {
        width: 80%!important;
    }
    #table-card {
        width: 93%!important;
    }
    #l-column {
        width: 80%;
        height: 52%;
        position: relative;
        z-index: 2;
        float: right;
        margin: 1%;
        margin-left: 10%;
    }
    #r-column {
        width: 80%;
        height: 10%;
        position: relative;
        z-index: 1;
        float: left;
        margin: 1%;
        margin-left: 10%;
    }
    #container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .container {
        border-radius: 7px;
        height: 100%;
        margin-left: 0px;
    }
}
