#help{
    margin:5%;
}

.tabs>label {
    background-color: #fff;
}

.h2-white {
    text-decoration: #ffffff;
    font-size: 2.2em;
    color: #fff;
}

/*normal view*/
@media all and (max-width: 820px) {
    .resize {
        height: 60px!important;
    }

    .resize2{
    height: 90px!important;
    }

    .h2-white {
    margin-top: 10%;
    }
}
