.circle-gray {
    background-color: gray;
    margin: 0px auto;
    margin-left: 5px;
}

#btn-relleno{
    visibility: hidden!important;
}

#btn-siguiente{
    width: 46%;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

#uiref{
    width: 65%!important;
}
 #rentarAhora{
        width: 20%;
     }

.txt-description{
    width: 100%;
}

.row {
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    padding:10px;
    width: 100%!important;
}

.fotos {
    min-width: 100%!important;
    height: 100%;
    margin: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     object-fit: cover;
}

.circle-blue {
    margin-left: 48%!important;
    background-color: #1340a6;
    margin: 0px auto;
}

#txt-subtitle {
    margin-top: 3%;
    width: 100%;
}

.selected {
    background-color: #1340a6!important;
    color: #fff;
}

.not-selected {
    background-color: #fff!important;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

#details-form {
    background-color: #1340a6;
    margin-top: 2%;
    height: 8%;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#h3-w {
    margin: .1rem 1rem;
    font-size: 1.5em;
    color: #fff;
    padding-top: 10px;
}

h5 {
    color: #1340a6;
}

#btnRentar {
    float: right;
    border-radius: 5px;
}

#title {
    height: 10%;
}

#forma {
    background-color: #1340a6;
    background-color: #fff;
    height: 90%;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px;
}

#carrousel {
    height: 33%;
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     width: 100%;
}

#btnRentarAhora {
    margin-right: 2%;
    width: 30%;
    float: right;
}

.btn-left {
    width: 30%;
    background-color: #fff;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    font-size: 1em;
}

.btn-right {
    width: 30%;
    background-color: #fff;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    font-size:
}

.btn-right:focus {
    background-color: white;
}

.btn-left:focus {
    background-color: white;
}

.btn-right:not(.nohover):hover {
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

.btn-left:not(.nohover):hover {
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

#div-general {
    width: 80%;
    margin-left: 10%;
    height: 150%;
}

/*Animacion de entrada*/
.row {
    height: 85%;
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    /*  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    */ animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


/* Standard syntax */

@keyframes example {
    0% {
        left: 0px;
        top: 700px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@media all and (max-width: 980px) {
#uiref{
    width: 100%!important;
}

 #rentarAhora{
        width: 100%;
     }

    #txt-subtitle {
        margin-top: 0%;
    }

    #btnRentar {
        width: 95%;
    }
    #div-general {
        width: 100%;
        margin-left: 0%;
    }
    .btn-left {
        width: 45%;
        white-space: normal;
        word-wrap: break-word;
        font-size: .7em;
    }
    .btn-right {
        width: 50%;
        white-space: normal;
        word-wrap: break-word;
        font-size: .7em;
    }
    #btnRentarAhora {
        width: 100%;
    }
  
    #forma {
        margin-top: -7%;
        height: 90%;
        margin-left: -11px;
    }
      #h3-w{
        margin-right: -11px!important;
        height: 20%;
    }
      #details-form{
        margin-left: -11px;
    }
}

@media all and (max-width: 780px) {

      #carrousel {
        background-color: #fff;
        height: 15%;
    }


    #wrapper{
        margin-top: 8%;
    }

    #h3-w{
        margin-right: -11px!important;
        font-size: 1.5em!important;
        
    }
    #details-form{
        margin-left: -11px;
    }

    .btn-right {
        width: 45%;
    }

    #btnRentarAhora{
    width: 90%;
    }

    #btn-siguiente{
    width: 95%;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}
}

@media all and (min-width: 50px) {
    #forma {
        width: 100%!important;
    }
}
