header {
    display: block;
    height: 2.75rem;
    background: rgba(17, 17, 24, 0);
    color: #1340a6;
    padding: 0.125rem 0.5rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    opacity: 1;
}

header button,
header [type="button"],
header a.button,
header label.button,
header .button,
header a[role="button"],
header label[role="button"],
header [role="button"] {
    background: rgba(17, 17, 24, 0);
    color: #1340a6;
    vertical-align: top;
    margin: 0.125rem 0;
}


/*css register view*/

input {
    vertical-align: top!important;
    font-size: .8rem;
}

select {
    vertical-align: top!important;
    font-size: .7rem;
    background-color: yellow;
}

option {
    max-width: 50px!important;
    font-size: .8rem;
    vertical-align: top!important;
}

.select-birth {
    width: 18%;
    margin-left: 1%!important;
    border: 1px solid #ccc;
    margin-top: 4px;
}

#input-ocupacion {
    width: 34%;
    margin-right: 1%;
    float: right;
}

#div-date {
    width: 100%;
}

#show-result {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.alert {
    width: 100%;
}

input {
    height: 40px;
}

.input-width {
    width: 48%;
    float: left;
}

.input-width-100 {
    max-width: 100%;
    width: 100%;
    float: left;
}

#form-register {
    margin-top: 2%!important;
    border-radius: 7px;
    background-color: #fcfcfc;
    max-width: 30%;
}

.error-d {
    display: inline!important;
}

.fluid {
    display: inline;
}

input:required {
    border-color: #ccc !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.txt-error {
    text-decoration: #fff!important;
    color: #ff0000!important;
    width: 47%;
}

.btnHeader {
    border-width: 1!important;
    border-color: #fff!important;
    color: #fff!important;
    color: red;
}

p {
    color: red;
}

#div-registrate {
    width: 100%;
}

#hamburgerMenu {
    content: url('../img/menu-icon.png');
    max-width: 20px;
    max-height: 20px;
}

#logo {
    width: 150px;
    content: url(../img/parkner-white-logo.png);
}

.txt-error {
    width: 50%;
    float: left;
}

.txt-error-right {
    max-width: 40%;
    float: right;
    margin-right: 5%;
    text-decoration: #fff!important;
    color: #ff0000!important;
}

#form-register {
    padding: 10px;
}

.input-register {
    width: 98%;
}

#centrar {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Modal*/

.ng-modal-close-x {
    visibility: hidden;
}

#modal-register {
    background: #fff;
    margin: auto;
    text-align: center;
    border-radius: 7px;
    padding-bottom: 20px;
}

.ng-modal {
    background: #fff!important;
    text-align: center;
    margin: auto;
    border-radius: 7px;
    width: 30%;
}
/*texto parpadeante*/

.text {
    text-transform: uppercase;
}

/*Animacion fade in register user*/

form {
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: linear;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}


/*fade in animation*/

@-moz-keyframes parpadeo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width: 700px) {
    .select-birth {
        width: 30%;
        margin-left: 1%!important;
        border: 1px solid #ccc;
        margin-top: 1px
    }
    #input-ocupacion {
        width: 98%!important;
    }
    #input-apellido {
        float: right;
        width: 46%;
    }
    .txt-error {
        max-width: 40%;
        float: left;
    }
    .txt-error-large {
        width: 100%!important;
        float: left;
    }
}

@media all and (max-width: 1340px) {
    #form-register {
        max-width: 40%;
    }
}

@media all and (max-width: 1006px) {
    #form-register {
        max-width: 70%;
    }
    .input-width {
        width: 48%;
        float: left;
    }
    .input-width-100 {
        max-width: 100%;
        width: 100%;
        float: left;
    }
    .left-1-percent {
        margin-left: 1%!important;
    }
    #btn-registrate {
        width: 95%;
    }
    option {
        font-size: .55rem;
        max-width: 50px!important;
    }
}

@media all and (max-width: 580px) {
    #form-register {
        max-width: 85%;
    }
    .left-1-percent {
        margin-left: 1%!important;
    }
    .select-birth {
        width: 29%;
        margin-left: 1%!important;
        border: 1px solid #ccc;
        margin-top: 1px
    }
}
