body {
    overflow-x: hidden;
}

input {
    border-color: #1340a6;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
    border-radius: 7px;
    margin: 2px;
    margin-left: 4px;
}

h2{
    margin-top: -2%;
}

#user{
margin-top: 12px;
}

#lblUsername{
   position: absolute; 
   top:8px;
   right: 90px;
}

#userImage{
 position: absolute; 
   top:12px!important;
}

/*register-user  lot registration*/

#detalles-extras {
    flex: 1 0 0;
}

#fotos-siguiente {
    flex: 1 0 0;
}

#selectable {
    columns: 2;
}

#ajust {
    width: 100%;
}

.item {
    flex: 1 1 0;
}

#modalidad {
    flex-basis: 20%;
}

#horario {
    flex-basis: 80%;
}

#precio {
    flex-basis: 50%;
}

#precioinput {
    width: 50%
}

#fin {
    flex-basis: 50%;
}

#logout {
    position: fixed;
    bottom: 0;
    right: 0;
}

#logo {
    margin-top: 3px;
}


input {
    width: 100%;
}

.item {
    margin-left: 5px;
}

.input-group {
    margin-left: 15px;
    margin-top: 10px;
    width: 100%!important;
}



/*Registration-step-2*/

.txt-desde {
    float: right;
}

.txt-hasta {
    float: left;
    margin-left: 10px;
    margin-top: 9px;
}

#continuar-step2 {
    width: 100%;
}

.circle-blue {
    background-color: gray;
    margin-left: 5px;
    margin-left: 47%!important;
}

.circle-gray {
    margin-left: 5px!important;
    background-color: #1340a6;
}

.dia-semana {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    #precioinput {
        width: 200%!important;
    }
    .txt-desde {
        width: 100%
    }
    .txt-hasta {
        width: 100%
    }
    input {
        width: 100%!important;
    }
    h2 {
        width: 130%;
    }
}


/*fecha inicial, fecha final*/

.column-rango-l {
    width: 45%;
    float: left;
}

.column-rango-r {
    float: left;
    width: 45%;
}

#espacios {
    width: 10%;
}

.select-birth {
    margin-left: 1%!important;
    width: 20%;
}

.txt-rango {
    width: 45%;
    float: left;
}

#hora {
    width: 40%;
    margin-left: 1%!important;
}

.txt-hora {
    width: 50%;
}

@media only screen and (max-width: 450px) and (min-width: 400px) {
    .button-parkner {
        width: 300px!important;
    }
}

@media only screen and (max-width: 550px) and (min-width: 450px) {
    .button-parkner {
        width: 400px!important;
    }
}

@media only screen and (max-width: 700px) {

    #select-day {
        min-width: 100%;
    }

    .select-birth {
        min-width: 100%!important;
    }

    .column-rango-r {
        width: 100%;
    }

    .button-parkner {
        width: 200px;
    }
}

@media only screen and (min-width: 701px) {
    .button-parkner {
        width: 300px;
    }
}
