#success {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 25px;
    background-color:#fff;
    text-align:center;
    padding-bottom: 100px;
    color: #1542ab;
}

#img-succesfull {
    margin-left: 46%;
    width: 8%;
    margin-top: 2%
}

#title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

#title-blue {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #1542ab;
    text-align: center;
}

.texto-sup {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #1542ab;
    text-align: justify;
    margin-bottom: 5%;
}

.texto {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #1542ab;
    margin-bottom: 5%;
}

p {
    width: 105%;
}

@media all and (max-width: 600px) {
    #title-blue {
        font-size: 1.4em;
    }

    .texto-sup{
        font-size: 1.0em;
    }
p{
    margin-left: 0%;
}

.col-sm-offset-2{}

    #img-succesfull {
        margin-left: 0%;
        width: 20%;
    }


}