<div id="contenedor">
  <div class="col-sm-12">
    <div class="modal" ng-show="vm.lots.length ==0">
      <p>¡Aún no tienes cobros! <a ui-sref="auth.lot-registration.lot-registration-1()">Registra más espacios</a></p>
    </div>
    <h1 style="margin-top:3%;margin-bottom:3%;color: rgb(255, 255, 255)!important;">Historial de Cobros</h1>
    <div id="content">
      <div class="row-scroll">
        <table>
          <thead>
            <tr>
              <th>Transacción</th>
              <th>Fecha</th>
              <th>Benefactor</th>
              <th>Espacio</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tr id="tr">
            <td id="clm1" data-label="Transacción&nbsp;"><a href="">0001-1</a></td>
            <td id="clm3" data-label="Fecha&nbsp;">01/01/2018</td>
            <td id="clm3" data-label="Beneficiario&nbsp;">Sami A.</td>
            <td id="clm4" data-label="Espacio&nbsp;">Av. Pardo y Aliaga</td>
            <td id="clm3" data-label="Monto&nbsp;">S/ 325.00</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>