<div id="get-map" class="col-sm-8 col-sm-offset-2"> 
    <input type="text" placeholder="Busca un espacio" id="map" places-auto-complete size=80 component-restrictions="{country:'pe'}" on-place-changed="vm.placeChanged()"/>
</div>
<div id="container">
    <div id="l-column">
        <div id="contenedor">

           <div class="modal" ng-show="vm.lots.length == 0">
            <p>Por el momento no se encuentan lugares disponibles, Por favor ingrese su correo para informarle de nuevos lugares.</p>
            <input class="centrar" placeholder="Email"></>
        </div>

            <table>
                <tr id="table-card" class="card fluid" ng-repeat="lot in vm.lots">
                    <td id="clm3">
                        <div><img class="img-custom" ng-src="http://via.placeholder.com/50x50"></div>
                    </td>
                    <td id="clm2">
                        <div id="description">
                            <p id="txt-description">{{lot.address.description}}</p>
                        </div>
                        <div id="iconos" class="row">
                            <img class="icon" src="/app/img/24_hours-1.png">
                            <img class="icon" src="/app/img/007-car-wash-1.png">
                            <img class="icon" src="/app/img/garage-park-1.png">
                            <img class="icon" src="/app/img/key-0.png">
                            <img class="icon" src="/app/img/policeman-0.png">
                            <img class="icon" src="/app/img/security-cam-1.png">
                        </div>
                    </td>
                    <td id="clm2">
                        <div style="text-align:center; margin-top:-40px;">
                            <canvas margin-left="200px;" margin-top="-130%;" height="60px" width="45px" id="chart" class="chart chart-pie" chart-data=lot.data chart-options="options">
                            </canvas>
                            <p id="txt-distance">{{lot.distance}}</p>
                    </td>
                    <td id="clm3">
                        <button ng-click="vm.showDetails(lot)" class="primary-button" >S/. {{lot.cost}}</button>
                        <p>Distance</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="r-column">
        <div id="contenedor-derecha">
            <leaflet lf-center="vm.center" markers="vm.markers" layers="vm.layers" width="100%" height="106%"></leaflet>
        </div>
    </div>
</div>
