<div id="help">
  <h2 class="h2-white">Ayuda</h2>
  <div class="tabs stacked">
    <input type="radio" name="accordion" id="a1" aria-hidden="true">
    <label class="resize" for="a1" aria-hidden="true">¿Cómo consigo un estacionamiento?</label>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <br>
    <input type="radio" name="accordion" id="a2" aria-hidden="true">
    <label class="resize" for="a2" aria-hidden="true">¿Por qué tengo que registrar mi vehículo?</label>
    <div>
      <p>En Parkner hemos creado una comunidad donde personas como tú son las que brindan el espacio donde te estacionas. Es por ello que de la misma manera que un usuario acepta no hacer ningún daño al espacio donde se estaciona, el dueño del estacionamiento se compromete a que el vehículo estara protegido y seguro mientras se encuentra en el espacio determinado.</p>
    </div>
    <br>
    <input type="radio" name="accordion" id="a3" aria-hidden="true">
    <label class="resize" for="a3" aria-hidden="true">¿Qué puedo hacer si otra persona está en el espacio que renté?</label>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <br>
    <input type="radio" name="accordion" id="a4" aria-hidden="true">
    <label class="resize" for="a4" aria-hidden="true">¿Cómo puedo pagar por los estacionamientos?</label>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <br>
    <input type="radio" name="accordion" id="a5" aria-hidden="true">
    <label class="resize2" for="a5" aria-hidden="true">¿Tengo una cuenta de usuario, también puedo usarla para alquilar mi espacio?</label>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>