<br>
<div id="div-general">
  <div class="row">
    <div id="carrousel">
      <a href="{{vm.lotFirstImage}}" target="_blank">
             <img class="fotos" border="5" ng-src='{{vm.lotFirstImage}}'/>
         </a>
    </div>
    <div id="wrapper">
      <a ui-sref="lot-details.lot-details-1">
        <div class="circle-blue"></div>
      </a>
      <div class="circle-gray"></div>
    </div>
    <div class="col-sm-8">
      <h3 id="txt-subtitle">{{vm.address}}</h3>
    </div>
    <div class="col-sm-4">
      <button class="primary-button" name="amount">S/ {{vm.cost}}</button>
    </div>
    <div class="col-sm-12">
      <h5>Duración</h5>
    </div>
    <!-- INICIAL -->
    <div class="column-rango-r">
      <!-- FECHA -->
      <label>Fecha Inicial</label>
      <br>
      <select name="day1" id="day1" class="select-birth" ng-model="vm.day1" ng-options="x for x in vm.daysArray" required>
        <option value="">Día</option>
      </select>
      <select name="month1" id="month1" class="select-birth" ng-model="vm.month1" ng-options="x for x in vm.monthsArray" required>
        <option value="">Mes</option>
      </select>
      <select name="year1" id="year1" class="select-birth" ng-model="vm.year1" ng-options="x for x in vm.yearsArray" required>
        <option value="">Año</option>
      </select>
      <br>
      <!-- <p class="txt-error-left" ng-show="lotForm.day1.$invalid && !lotForm.day1.$pristine">Seleccione el día</p>
                <p class="txt-error-left" ng-show="lotForm.month1.$invalid && !lotForm.month1.$pristine">Seleccione el mes</p>
                <p class="txt-error-left" ng-show="lotForm.year1.$invalid && !lotForm.year1.$pristine">Seleccione el año</p> -->
      <!-- HORA -->
      <!-- <label class="txt-hora" for="vie">Hora Inicial</label>
      <br>
      <select name="hh1" class="select-birth" ng-model="vm.hh1" ng-options="x for x in vm.hoursArray" required>
        <option value="">HH</option>
      </select>
      <select name="mm1" class="select-birth" ng-model="vm.mm1" ng-options="x for x in vm.minutesArray" required>
        <option value="">MM</option>
      </select>
      <br> -->
      <!-- <p class="txt-error-left" ng-show="lotForm.hh1.$invalid && !lotForm.hh1.$pristine">Seleccione la hora</p>
                <p class="txt-error-left" ng-show="lotForm.mm1.$invalid && !lotForm.mm1.$pristine">Seleccione los minutos</p> -->
    </div>
    <!-- FINAL -->
    <div class="column-rango-r">
      <!-- FECHA -->
      <label>Fecha Final</label>
      <br>
      <select name="day2" id="day2" class="select-birth" ng-model="vm.day2" ng-options="x for x in vm.daysArray" required>
        <option value="">Día</option>
      </select>
      <select name="month2" id="month2" class="select-birth" ng-model="vm.month2" ng-options="x for x in vm.monthsArray" required>
        <option value="">Mes</option>
      </select>
      <select name="year2" id="year2" class="select-birth" ng-model="vm.year2" ng-options="x for x in vm.yearsArray" required>
        <option value="">Año</option>
      </select>
      <br>
      <!-- <p class="txt-error-left" ng-show="lotForm.day2.$invalid && !lotForm.day2.$pristine">Seleccione el día</p>
                <p class="txt-error-left" ng-show="lotForm.month2.$invalid && !lotForm.month2.$pristine">Seleccione el mes</p>
                <p class="txt-error-left" ng-show="lotForm.year2.$invalid && !lotForm.year2.$pristine">Seleccione el año</p> -->
      <!-- HORA -->
      <!-- <label class="txt-hora" for="vie">Hora Final</label>
      <br>
      <select name="hh2" class="select-birth" ng-model="vm.hh2" ng-options="x for x in vm.hoursArray" required>
        <option value="">HH</option>
      </select>
      <select name="mm2" class="select-birth" ng-model="vm.mm2" ng-options="x for x in vm.minutesArray" required>
        <option value="">MM</option>
      </select> -->
      <br>
      <!-- <p class="txt-error-left" ng-show="lotForm.hh2.$invalid && !lotForm.hh2.$pristine">Seleccione la hora</p>
                <p class="txt-error-left" ng-show="lotForm.mm2.$invalid && !lotForm.mm2.$pristine">Seleccione los minutos</p> -->
    </div>
    <!-- <div class="col-sm-9" id="step2-div">
                <input id="input-duracion" type="number" ng-model="string";>
                <p class="txt-parkner">meses</p>
            </div> -->
    <div class="column-rango-r">
      <!-- FECHA -->
      <div id="date">
        <h5>Inicio: {{vm.startAvailability | date:'mediumDate'}}</h5>
        <h5>Fin: {{vm.endAvailability | date:'mediumDate'}}</h5>
      </div>
    </div>
    <div class="col-sm-12 message">
      <p class="txt-parkner message">El monto total mensual se debitará </p>
      <p class="txt-parkner message">automáticamente del medio de pago</p>
      <p class="txt-parkner message">seleccionado.</p>
    </div>
    <button ng-disabled="!vm.isAuthenticated()" id="rentarAhora" ng-click="vm.createReservation()">Rentar ahora</button>
    <div ng-if="!vm.isAuthenticated()">Necesita iniciar sesión para poder rentar el espacio.</div>
  </div>
</div>
<modal-dialog show='vm.dialogShown' dialog-title='Card Information'>
  <p>Por favor llene los siguientes campos</p>
  Token:
  <input type="text" ng-model="vm.card.token">
  <button ng-disabled="!vm.card.token" ng-click="vm.addCard()">Listo</button>
</modal-dialog>