<div class="flex-container-column">
  <label class="dia-semana">Espacios</label>
  <input type="number" name="spaces" id="espacios" min="0" max="99" ng-model="vm.form.spaces" placeholder="0" required>
  <p ng-show="lotForm.spaces.$invalid && !lotForm.spaces.$pristine">Ingrese el precio</p>
  <div>
    <!-- INICIAL -->
    <div class="column-rango-r">
      <!-- FECHA -->
      <label>Fecha Inicial</label>
      <br>
      <select name="day1" id="day1" class="select-birth" ng-model="vm.form.day1" ng-options="x for x in vm.days" required>
        <option value="">Día</option>
      </select>
      <select name="month1" id="month1" class="select-birth" ng-model="vm.form.month1" ng-options="x for x in vm.months" required>
        <option value="">Mes</option>
      </select>
      <select name="year1" id="year1" class="select-birth" ng-model="vm.form.year1" ng-options="x for x in vm.years" required>
        <option value="">Año</option>
      </select>
      <br>
      <p class="txt-error-left" ng-show="lotForm.day1.$invalid && !lotForm.day1.$pristine">Seleccione el día</p>
      <p class="txt-error-left" ng-show="lotForm.month1.$invalid && !lotForm.month1.$pristine">Seleccione el mes</p>
      <p class="txt-error-left" ng-show="lotForm.year1.$invalid && !lotForm.year1.$pristine">Seleccione el año</p>
      <!-- HORA -->
      <!-- <label class="txt-hora" for="vie">Hora Inicial</label>
      <br>
      <select name="hh1" class="select-birth" ng-model="vm.form.hh1" ng-options="x for x in vm.hours" required>
        <option value="">HH</option>
      </select>
      <select name="mm1" class="select-birth" ng-model="vm.form.mm1" ng-options="x for x in vm.minutes" required>
        <option value="">MM</option>
      </select>
      <br>
      <p class="txt-error-left" ng-show="lotForm.hh1.$invalid && !lotForm.hh1.$pristine">Seleccione la hora</p>
      <p class="txt-error-left" ng-show="lotForm.mm1.$invalid && !lotForm.mm1.$pristine">Seleccione los minutos</p> -->
    </div>
    <!-- FINAL -->
    <div class="column-rango-r">
      <!-- FECHA -->
      <label>Fecha Final</label>
      <br>
      <select name="day2" id="day2" class="select-birth" ng-model="vm.form.day2" ng-options="x for x in vm.days" required>
        <option value="">Día</option>
      </select>
      <select name="month2" id="month2" class="select-birth" ng-model="vm.form.month2" ng-options="x for x in vm.months" required>
        <option value="">Mes</option>
      </select>
      <select name="year2" id="year2" class="select-birth" ng-model="vm.form.year2" ng-options="x for x in vm.years" required>
        <option value="">Año</option>
      </select>
      <br>
      <p class="txt-error-left" ng-show="lotForm.day2.$invalid && !lotForm.day2.$pristine">Seleccione el día</p>
      <p class="txt-error-left" ng-show="lotForm.month2.$invalid && !lotForm.month2.$pristine">Seleccione el mes</p>
      <p class="txt-error-left" ng-show="lotForm.year2.$invalid && !lotForm.year2.$pristine">Seleccione el año</p>
      <!-- HORA -->
      <!-- <label class="txt-hora" for="vie">Hora Final</label>
      <br>
      <select name="hh2" class="select-birth" ng-model="vm.form.hh2" ng-options="x for x in vm.hours" required>
        <option value="">HH</option>
      </select>
      <select name="mm2" class="select-birth" ng-model="vm.form.mm2" ng-options="x for x in vm.minutes" required>
        <option value="">MM</option>
      </select>
      <br>
      <p class="txt-error-left" ng-show="lotForm.hh2.$invalid && !lotForm.hh2.$pristine">Seleccione la hora</p>
      <p class="txt-error-left" ng-show="lotForm.mm2.$invalid && !lotForm.mm2.$pristine">Seleccione los minutos</p> -->
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="flex-container-row">
    <div id="price" class="flex-container-column">
      <h4>Precio</h4>
      <div>
        <input id="precioinput" min="0" type="number" class="col-sm-10" name="price" ng-model="vm.form.price" placeholder="S/" required>
        <p ng-show="lotForm.price.$invalid && !lotForm.price.$pristine">Ingrese el precio</p>
      </div>
    </div>
    <div id="fin" class="flex-container-column flex-center">
      <div id="continuar-step2">
        <button class="button-parkner" ng-disabled="lotForm.$invalid" ng-click="vm.register(form)">Listo</button>
        <a ui-sref="auth.lot-registration.lot-registration-1">
          <button class="button-parkner">Regresar</button>
        </a>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div class="circle-blue"></div>
    <div class="circle-gray"></div>
  </div>
</div>
<modal-dialog show='vm.dialogShown' dialog-title='Payment Information'>
  <p>Por favor ingrese el Nombre y Número de su banco</p>
  Nombre del Banco:
  <input type="text" ng-model="vm.user.bankName"> Número de Banco:
  <input type="text" ng-model="vm.user.bankNumber">
  <button ng-disabled="!vm.user.bankName || !vm.user.bankNumber" ng-click="vm.addPaymentInformation()">Listo</button>
</modal-dialog>