<hr>
<div class="col-sm-12">
  <div id="form-container">
    <!-- use ng-submit to catch the form submission and use our Angular function -->
    <form name="lotForm" id="signup-form">
      <h2>Registra un espacio</h2>
      <!-- our nested state views will be injected here -->
      <div ui-view></div>
    </form>
  </div>
</div>