<div class="col-sm-8 col-sm-offset-2" id='title'>¡Listo!</div>
<div class="col-sm-12 row" id="success">
  <div class='col-sm-8 col-sm-offset-2'>
    <img id="img-succesfull" src="/app/img/success-circle.png">
    <br>
    <p id='title-blue'>Gracias por añadir tu estacionamiento.</p>
    <p class='texto-sup'>Tu estacionamiento ha sido registrado en nuestra base de datos. Uno de nuestros representantes estara en contacto contigo dentro de poco para indicarte los siguientes pasos.</p>
  </div>
</div>