<div id="container">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 id="title">¡Listo!</h2>
  </div>
  <div class="col-sm-12 row" id="succes">
    <div class='col-sm-8 col-sm-offset-2'>
      <div id="contenido">
        <img id="img-succesfull" src="/app/img/success-circle.png">
        <br>
        <p id='title-blue'>Gracias por registrarse.</p>
        <p class='texto-sup'>Por favor inicie sesión.</p>
      </div>
    </div>
  </div>
</div>