<div id="contenedor">
  <h1 class="txt-title">Mis Vehículos</h1>
  <div class="modal" ng-show="!vm.hasVehicles">
    <p>¡Aún no tienes vehículos registrados! <a ui-sref="auth.register-vehicle()">Registra un vehículo</a></p>
  </div>
  <div id="content" ng-show="vm.hasVehicles">
    <div class="row-scroll" ng-show="vm.hasVehicles">
      <table id="table-lot-l">
        <thead>
          <tr>
            <th class="table_column_width_4 th_radius_start">Marca</th>
            <th class="table_column_width_4 th_radius_middle">Modelo</th>
            <th class="table_column_width_4 th_radius_middle">Placas</th>
            <th class="table_column_width_4 th_radius_end">Color</th>
          </tr>
        </thead>
        <tr ng-repeat="vehicle in vm.vehicles">
          <td data-label="Marca:&nbsp;">
            {{vehicle.make}}
          </td>
          <td data-label="Modelo:&nbsp;">
            {{vehicle.model}}
          </td>
          <td data-label="Placas:&nbsp;">
            {{vehicle.plate}}
          </td>
          <td data-label="Color:&nbsp;">
            {{vehicle.color}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>